<form class="form-group" {{action 'addPost' on="submit"}}>
  {{input type="text" value=user class="form-control" placeholder="Type your name"}}
  {{textarea value=getToday class="form-control" placeholder="What was done today..."}}
  {{textarea value=getTomorrow class="form-control" placeholder="What will be done tomorrow..."}}
  <button type="submit" class="btn btn-primary">Add</button>
</form>

<hr>
